/*start*/
/*______________________________________________________*/
/*video background content*/
#modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    padding: 20px;
}

.jumbotron{
    position: relative;
    z-index:-2;
    width: inherit;
}

#video-background {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    width:100%;
    height: 25%;
}

.blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.blockquote q {
    display: inline;
}
/*end*/
/*________________________________________________________*/


/*start*/
/*______________________________________________________*/
/*style for Photo-Gallery*/
@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

div.bodyName *{ cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;}

div.bodyName {
    background:#1c1c1c;
    /*-webkit-perspective:1000px;*/
    overflow:hidden;

    cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}
@font-face
{
    font-family: font;
    src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
    font-weight:bold;
}

.slider div p{color:#1c1c1c;position:absolute;bottom:-65px; font-family:font; font-size:22px;}
.slider{

    -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;


    margin:60px auto 0 auto;
    height:360px;
    width:240px;
    padding:40px;
    top:100px;

    perspective:1000px;
    transition:ease-in-out .2s;
    /*-webkit-transform:rotateX(45deg);
    -webkit-transform-style:preserve-3d;
        position:absolute;*/
}
/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/


.slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none;user-drag:none;-moz-user-drag:none; border-radius:2px; }


.slide{



    -webkit-user-select:none;
    user-select:none;
    -moz-user-select:none;
    position:absolute;
    height:280px;
    width:240px;

    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    background:#fcfcfc;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    text-align:center;
    /*overflow:hidden;*/
    border:12px white solid;
    box-sizing:border-box;
    border-bottom:55px white solid;
    border-radius:5px;



}
.transition {
    -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
    -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
    transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}

/*end*/
/*________________________________________________________________*/


/*start*/
/*______________________________________________________*/
/*style for contact form*/


/*end*/
/*________________________________________________________________*/